.sliderComponentWrapper{
    position: relative;
    width: 100%;

    .SliderWrapper{
        background:linear-gradient(90deg,rgba(27, 27, 27, 0.62) 0%, rgba(37, 37, 37, 0.7) 50%, rgba(30, 30, 31, 0.89) 100%), url("https://res.cloudinary.com/hayteetech/image/upload/v1755573559/pedarEnergy/banner1_wkaqh1.jpg");
        background-size: cover;
        background-position: center center;
        height: 100vh;
        position: relative;
        color: #000000;
    }
    .SliderWrapper2{
         background:linear-gradient(90deg,rgba(27, 27, 27, 0.62) 0%, rgba(37, 37, 37, 0.7) 50%, rgba(30, 30, 31, 0.89) 100%),  url("https://res.cloudinary.com/hayteetech/image/upload/v1755573560/pedarEnergy/banner2_orqumm.jpg");
    }
}
.slider-container{
    .custom-arrow{
        position: absolute;
        top: 40%;
        color:#fff;
        font-size:30px;
        z-index: 3;
    }
    .custom-arrow.prev-arrow{
        left: 30px;
    }
    .custom-arrow.next-arrow{
        right: 30px;
    }
    .arrowDiv{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.4s all ease;

    }
    .arrowDiv:hover{
        border: 2px solid var(--primaryColor);
    }

    .sliderContent{
        position: absolute;
        top: 36%;
        width: 60%;
        left: 50%;
        transform: translateX(-50%); 
        margin: auto!important;
        text-align: center;
        .subTopic{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            text-transform: capitalize;
            color: var(--greenColor);
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            font-family: var(--headingFamily);
            padding-bottom:15px;
            .line{
                width: 30px;
                height: 1px;
                background: #fff;
            }
        }
        .topic{
            font-family: var(--headingFamily);
            font-size:  48px;
            color: #fff;
            font-weight:900;
            text-transform: capitalize
        }
        .text{
            font-family: var(--headingFamily);
            font-size:  16px;
            color: #fff;
            padding-top: 25px;
        }
        .sliderButton{
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }
    }
    @media screen and (max-width: 1093px){
        .sliderContent{
            width: 70%;
            top: 35%;
        }
        
    }
    @media screen and (max-width: 940px){
        .sliderContent{
            width: 80%;
            top: 35%;
            .subTopic{
                font-size: 18px;
                line-height: 24px;
                padding-bottom: 10px;
            }
            .topic{
                font-size: 40px;
                padding-bottom: 10px;
            }
            .text{
                font-size: 16px;
                padding-bottom: 10px;
            }
        }
        
    }
    @media screen and (max-width: 690px){
        .custom-arrow{
            font-size: 20px!important;
        }
        .arrowDiv{
            width: 40px!important;
            height: 40px!important;
        }
        .sliderContent{
            top: 27%;
            .topic{
                font-size: 30px;
            }
            .sliderButton{
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
        }
        
    }
}

@media screen and (max-width: 520px){
    .sliderComponentWrapper{
        .SliderWrapper{
            width: 100%;
        }
    }
    
    .sliderContent{
        width: 92%!important;
        top: 28%!important;
        .subTopic{
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 5px;
        }
        .topic{
            font-size: large;
            padding-bottom: 5px;
        }
        .text{
            font-size: 16px;
            padding-bottom: 5px;
        }
        
    }
    .custom-arrow{
        display: none;
    }
    
}