.blogPageContainer{
    position: relative;
    padding: 60px 0px;
}

// details sessio n
.blogDetalsContainer{
    position: relative;
    padding: 70px 0px;

    .blogDetailSession{
        width: 100%;
        position: relative;
        padding-top: 50px;
        .wrapper{
            position: relative;
            .image-holder{
                position: relative;
                 overflow: hidden;
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #000000;
                    text-align: center;
                    z-index: 1;
                    opacity: 0;
                    transform: translateY(100%); /* Start fully below image */
                    transition: transform 0.5s ease-in-out;
                }
            }
        }
        .wrapper:hover .image-holder:before {
            opacity: 0.6;
            transform: translateY(0); /* Slide into view */
        }
        // .wrapper:hover .image-holder img{
        //     transform: scale(1.2);
        //     transition: all 0.5s cubic-bezier(0.62, 0.21, 0.45, 1.52);
        // }
        .title{
            font-family: var(--headingFamily);
            font-weight: 600;
            font-size: x-large;
            color: var(--primaryColor);
            padding-bottom: 20px; 
        }
        .image-holder{
            width: 100%;
            position: relative;
            img{
                width: 100%;
            }
        }
        .text-holder{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background: #fff;
            padding: 40px;
            .intro{
                font-size: 16px;
                font-family: var(--textFamily);
                color: #222222;
                padding-bottom: 20px;
            }
            .content{
                h5{
                     font-family: var(--headingFamily);
                    font-weight: 600;
                    padding-bottom: 10px;
                }
                h6{
                    font-family: var(--headingFamily);
                    font-weight: 600;
                    color: var(--primaryColor);
                    span{
                        padding-right: 8px;
                    }
                }
                p{
                    font-family: var(--textFamily);
                    font-size: 16px;
                    color: #222;
                }
                ul{
                    list-style-type: none;
                    padding-left: 5px;
                    li{
                        font-family: var(--textFamily);
                        font-size: 15px;
                        margin-bottom: 10px;
                        color: #222;
                        &:before{
                            content: "•";
                            color: var(--primaryColor);
                            margin-right: 10px;
                        }
                        span{
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 500px){
            .text-holder{
                padding: 30px 10px;
            }
        }
    }
}

// another session here
.blogSidebarContainer{
    position: relative;
    width: 100%;
    .sidebarTitle{
        height: 70px;
        background: var(--primaryColor);
        border-left: 5px solid var(--secondaryColor);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-family: var(--headingFamily);
        color: #fff;
        font-size: x-large;
        font-weight: 600;
    }
    .blogSidebarLink{
        text-decoration: none;
        color: var(--primaryColor);
        font-weight: 600;
    }
    .sidebarContent{
        display: flex;
        gap: 10px;
        width: 100%;
        height: 100px;
        margin: 15px 0px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .left{
            width: 35%;
            position: relative; 
            overflow: hidden;  

            img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
        }
        .left:before{
            content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #000000;
                text-align: center;
                z-index: 1;
                opacity: 0.6;
                transform: translateY(100%); /* Start fully below image */
                transition: transform 0.5s ease-in-out;
        }
        .right{
            width: 65%;
            padding: 6px 5px 5px;
            .blogTitle{
                display: -webkit-box;
                -webkit-line-clamp: 2; /* Show only 3 lines */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: var(--headingFamily);
            }
           
        }
    }

    .sidebarContent:hover .left:before {
        transform: translateY(0); /* Slide into view */
    }
    .sidebarContent:hover .left img{
        transform: scale(1.2);
        transition: all 0.5s cubic-bezier(0.62, 0.21, 0.45, 1.52);
    }

    // antjher session here
    .blogContact{
        margin-top: 50px;
        background: var(--secondaryColor);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 50px 20px;
        .imageDiv{
            padding-bottom: 30px;
        }
        .icon{
            font-size: 70px;
            color: #fff;
        }
        .title{
            color: #fff;
            padding-bottom: 10px;
        }
        .line{
            border-bottom: 1px solid #fff;
            width: 70px;
        }
        a{
            color: #fff;
            font-size: large;
            text-decoration: none;
            font-weight:600;
            padding-top: 20px;
        }
    }
}