.projectCardContainer{
    position: relative;
    padding: 80px 0 50px;

    .projectCardSlider{
        position: relative;
        width: 100%;
        max-width: 1200px;   /* keep it neat on large desktops */
        margin: 0 auto; 
        padding: 50px 60px;

        .single-service-style{
            position: relative;
            display: block;
            background: #fff;
            margin-bottom: 40px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            .img-holder{
                position: relative;
                display: block;
                .inner{
                    position: relative;
                    display: block;
                    overflow: hidden;
                    img{
                        width: 100%;
                        transition: all 200ms linear;
                        transition-delay: 0.1s;
                    }
                }
                .inner:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #000000;
                    text-align: center;
                    z-index: 1;
                    opacity: 0.6;
                    transform: translateY(100%); /* Start fully below image */
                    transition: transform 0.5s ease-in-out;
                }
            }
            .text-holder{
                padding: 20px 10px 10px;
                h5{
                    color: var(--primaryColor);
                    font-family: var(--headingFamily);
                    font-weight: 600;
                }
                .location{
                    font-size: 14px;
                    color: #5c5a5aff;
                    font-family: var(--textFamily);
                    padding-bottom: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: center;
                }
                p{
                    font-size: 18px;
                    font-family: var(--textFamily);
                    height: 80px;
                }

            }
        }
   
        .single-service-style:hover .inner:before {
            transform: translateY(0); /* Slide into view */
        }
        .single-service-style:hover .img-holder .inner img{
            transform: scale(1.2);
            transition: all 0.5s cubic-bezier(0.62, 0.21, 0.45, 1.52);
        }

        .swiper-pagination {
            position: relative !important; /* take it out of absolute */
        }
       
    }
  
    @media screen and (max-width: 500px){
        .projectCardSlider{
            padding: 50px 5px;
        }
        
    }

    @media (max-width: 800px) {
        .projectCardSlider{
            max-width: 100% !important;
            width: 100% !important;
        }
  
    }
}