/* Top hero */
.tst-hero {
  width: 100%;
  background: linear-gradient(90deg, rgba(15,15,15,0.64) 0%, rgba(20,20,20,0.45) 50%, rgba(20,20,20,0.27) 100%),
    url("https://res.cloudinary.com/hayteetech/image/upload/v1755647977/pedarEnergy/background_vgpbsy.jpg")
      no-repeat center/cover;
  min-height: 400px;
  padding: 60px 0;
  .subtitle, .pageTitle{
    color: #fff;
  }
}


.tst-wrap {
    max-width: 1200px; /* keep it neat on large desktops */
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
    top: -50px;
}

/* Swiper sizing */
.tst-swiper { 
    width: 100%; 
    overflow: visible;
}

/* Card */
.tst-card {
  background: var(--secondaryColor);
  border-radius: 10px;
  box-shadow: 0 0 13.5px 1.5px rgba(0,0,0,0.05);
  padding: 60px 30px 30px;
  min-height: 250px;
  position: relative;
  text-align: center;
  transition: transform 0.5s ease-in-out;
  margin-bottom: 40px;
}
.tst-card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    text-align: center;
    z-index: 0;
    opacity: 0;
    border-radius: 10px;
    transform: translateY(1%); /* Start fully below image */
    transition: transform 0.5s ease-in-out;
}
.tst-card:hover:before {
    opacity: 0.4;
    transform: translateY(0); /* Slide up to cover */
}
.tst-quote {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primaryColor);
}
.tst-quote .icon { font-size: 70px; }
.tst-text { 
    font-family: var(--textFamily); 
    font-size: 16px; 
    color: #fff; 
    line-height: 1.6; 
    height: 130px;
}
.tst-name { font-family: var(--headingFamily); font-weight: 600; color: var(--primaryColor); }

/* Make sure mobile always shrinks */
@media (max-width: 768px) {
  .tst-wrap { max-width: 100%; padding: 0 12px; }

  /* In case your global .container is fixed, neutralize it on phones */
  .container { max-width: 100% !important; width: 100% !important; }
}
@media screen and (max-width: 750px) {
    .tst-card{
        min-height: 220px;

    }
    .tst-text{
        font-size: 18px;
        height: fit-content;
        padding-bottom: 30px;
    }
}