:root{
  --primaryColor: #eb6c04;
  --secondaryColor: rgb(15, 96, 174);
  --greenColor: #6f9f27;
  --offWhite: rgba(255, 255, 255, 0.70);
  --headingFamily: "Exo", sans-serif;
  --textFamily: "Lato", sans-serif;
  --grayColor: #7c7474;
  --blackColor: #535050;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; */
}
.body{
  color:#222;
  font-family: var(--headingFamily);
}
h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-weight: 700;
  font-family: var(--headingFamily);
}
.border-box{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primaryColor)
}
.sub-title{
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 9px;
  .border-box{
      background: #fff;
  }
  h5{
      position: relative;
      display: inline-block;
      padding-left: 10px;
      font-size: 16px;
      line-height: 26px;
      font-weight: 600;
  }
}
h2{
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  padding: 10px 0px;
}
.titleStroke{
  text-transform: uppercase;
  -webkit-text-stroke-color: rgba(214, 214, 214, 0.5);
  display: inline;
  position: absolute;
  font-family: var(--headingFamily);
  opacity: 1;
  color: transparent !important;
  -webkit-text-stroke-width: 2px;
  font-size: 130px;
  line-height: 160px;
  box-sizing: border-box;
  left: -3%;
  top: -48px;
}
.subtitle{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: var(--greenColor);
    text-transform: uppercase;
  }
.pageTitle{
  font-size: 44px;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
  padding: 10px 0px;
  span{
      color: var(--primaryColor);
  }
}
@media screen and (max-width: 768px){
  .titleStroke{
    font-size: 100px;
  }
}
@media screen and (max-width: 500px){
  .pageTitle{
    font-size: xx-large;
  }
  .titleStroke{
    font-size: 70px;
  }
}

.contactContentTop{
    position: relative;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    .subtitle{
        justify-content: center;
    }
    .titleStroke{
        width: 100%;
        top: -40px
    }
}
@media screen and (max-width: 900px){
    .contactContentTop{
        width: 90%;
    }
}
@media screen and (max-width: 768px){
    .contactContentTop{
        width: 100%;
    }
}

/* styling for swiper dot */
.swiper-pagination-bullet {
  background: var(--primaryColor)!important;
  opacity: 0.8;
  width: 15px!important;
  height: 15px!important;
  border-radius: 50%;
  transition: all 0.3s ease;
  margin: 0 10px!important
}
.swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.2);
}

.scrollToTopButton{
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: var(--primaryColor);
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &:hover {
    background: var(--secondaryColor);
    transform: scale(1.1);
  }
}